In [1]:
import sqlite3
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [5]:
data = pd.read_excel('.\BrojStanovnika.xlsx')

In [6]:
data.head()

,Opstina,Grad,IDRegiona,Stanovnistvo2017,Stanovnistvo2018,Stanovnistvo2019,Stanovnistvo2020
0,Петроварадин,Нови Сад,2,34041,34055,34150,34281
1,Нови Сад,Нови Сад,2,353525,356126,358572,360925
2,Суботица,Суботица,2,138331,137753,137173,136475
3,Сомбор,Сомбор,2,81401,80400,79437,78472
4,Кикинда,Кикинда,2,55998,55318,54729,54131

In [7]:
data.shape

(53, 7)

In [8]:
data.columns

Index(['Opstina', 'Grad', 'IDRegiona', 'Stanovnistvo2017', 'Stanovnistvo2018',
       'Stanovnistvo2019', 'Stanovnistvo2020'],
      dtype='object')

In [9]:
features = ['Stanovnistvo2017','Stanovnistvo2018', 'Stanovnistvo2019']

In [10]:
target=['Stanovnistvo2020']

In [11]:
data = data.dropna()

In [12]:
x = data[features]

In [13]:
y = data[target]

In [14]:
x.iloc[2]

Stanovnistvo2017    138331
Stanovnistvo2018    137753
Stanovnistvo2019    137173
Name: 2, dtype: int64

In [15]:
x.iloc[4]

Stanovnistvo2017    55998
Stanovnistvo2018    55318
Stanovnistvo2019    54729
Name: 4, dtype: int64

In [16]:
y

    Stanovnistvo2020
0              34281
1             360925
2             136475
3              78472
4              54131
5              48913
6             119509
7             115797
8              75241
9             177108
10            213040
11            184488
12            107827
13             35359
14             44613
15            169495
16             57856
17            175550
18            168118
19             26798
20             86908
21               642
22             51613
23             72085
24             19788
25             46815
26             58689
27             13057
28             84880
29             72750
30             53388
31             14088
32             30795
33             79782
34              8732
35            134285
36             53824
37             53509
38            102288
39             40748
40            120154
41            109568
42            117168
43            107071
44              6612
45             72940
46             85316
47            110148
48             68926
49             74703
50            176699
51            147966
52             86163

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=324)

In [18]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [19]:
y_prediction = regressor.predict(x_test)
y_prediction

array([[ 53843.21804216],
       [ 53440.35131029],
       [ 34273.69429512],
       [176841.75430233],
       [136608.62751103],
       [  6663.68667141],
       [ 72778.2018613 ],
       [107095.25894498],
       [ 54146.4360334 ],
       [109511.97215331],
       [ 48863.48389624],
       [ 72085.56688872],
       [213533.16084475],
       [168019.27676228],
       [ 53538.66151036],
       [ 79877.25305116],
       [ 84878.25005764],
       [115838.65948725]])

In [20]:
y_test.describe()

       Stanovnistvo2020
count         18.000000
mean       91162.388889
std        54230.528870
min         6612.000000
25%        53587.750000
50%        76266.000000
75%       114239.750000
max       213040.000000

In [21]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [22]:
print(RMSE)

132.4824515228902

In [23]:
regressor = DecisionTreeRegressor(max_depth=20)
regressor.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=20)

In [24]:
y_prediction = regressor.predict(x_test)
y_prediction

array([ 51613.,  51613.,  35359., 177108., 134285.,   8732.,  72940.,
       102288.,  51613., 110148.,  51613.,  72940., 184488., 169495.,
        51613.,  78472.,  86163., 117168.])

In [25]:
y_test.describe()

       Stanovnistvo2020
count         18.000000
mean       91162.388889
std        54230.528870
min         6612.000000
25%        53587.750000
50%        76266.000000
75%       114239.750000
max       213040.000000

In [26]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [27]:
print(RMSE)

7000.870691881435